<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .div-footer {
            text-align: center;
            bottom: 0px;
            left: 0;
            height: 5px;
            width: 100%;
            text-align: center;
        }

        li.format-hello {
            padding-top: 15px;
            color: #000000;
        }

        /*#animation-top5:hover {
            color: white;
            text-shadow: 1px 1px 2px gray, 0 0 25px red, 0 0 5px red;
            height: 10px;
        }*/

        .search {
            text-align: center;
        }

        .navbar-inverse .navbar-brand {
            color: crimson;
            font-size: 40px;
            font-family: ui-monospace;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: crimson;
            font-size: 15px;
        }

        input, select, textarea {
            max-width: 500px;
        }

        .navbar-inverse .navbar-brand {
            color: crimson;
            font-size: 30px;
            font-family: ui-monospace;
        }

        aa.navbar-brand {
            padding-top: 10px;
        }

        img.header_logo.header-logo {
            left: 13%;
            position: absolute;
            top: 35%;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: antiquewhite">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a href="@Url.Action("Index", "Product")">
                        <img src="~/Content/images/Logo.png" class="header_logo header-logo" alt="#" height="70" width="90" />
                        @Html.ActionLink("NullStore", "Index", "Product", new { area = "" }, new { @class = "navbar-brand" })
                    </a>
                </span>
            </div>

            <div class="navbar-collapse collapse" style="color: crimson">
                <ul class="nav navbar-nav" style="color: #000000">
                    <li>@Html.ActionLink("Kênh người bán", "Index", "AdminUser")</li>
                    <li>@Html.ActionLink("Hỗ trợ", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span>
                            <a href="/ShoppingCart/ShowCart">
                                <img src="@Url.Content("~/Content/images/giohang2.png")" style="height:30px; width:30px; margin-top:10px;" />
                            </a>
                        </span>
                        @Html.Action("BagCart", "ShoppingCart")
                    </li>

                    <li class="format-hello">
                        @if (Session["NameUser"] == null)
                        {
                            <li> <a href="/LoginUser/RegisterUser"><span class="glyphicon glyphicon-user"></span>Đăng Ký </a></li>
                            <li> <a href="/LoginUser/Index"><span class="glyphicon glyphicon-log-in"></span>Đăng Nhập</a></li>
                            <li style="color:crimson">  Xin chào quý khách !</li>
                         }
                         else
                         {
                            <li> <a href="@Url.Action("LogOutUser", "LoginUser")"><span class="glyphicon glyphicon-log-out"></span>Đăng Xuất</a></li>
                            <li style="color:crimson;margin-top:4%"> Xin Chào @Session["NameUser"] !</li>
                         }
                     </li>
                </ul>
            </div>

             <div class="search">
                 @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                  {
                      <input style="height: 30px; width: 100%; border-radius: 5px;" type="text" name="_name" />
                      <input style="height: 30px; border-radius: 5px;margin-right:20px" type="submit" value="Tìm" />
                  }
             </div>                
             <div class="category">
                   @{Html.RenderAction("CategoryPartial", "Categories"); }
             </div>
        </div>
    </div>

     
    <div class="container-fluid body-content" style="padding-top: 50px">         
        <div style="text-align: center">
            @*<ul style="text-decoration: none; background-color: palevioletred; border-radius: 10px; border: 1px solid black; margin-top: 100px; list-style-type: none; padding: 20px;">
            <li><a href="/OrderDetail/GroupByTop5/" style="color:black;" id="animation-top5">Top 5 sản phẩm bán chạy nhất</a></li>
        </ul>*@

            @*@{Html.ActionLink("Index_Partial", "Product"); }*@

            <div id="div-content" style="border-radius: 10px; padding-bottom: 20px; padding-top: 10px">
             
            @RenderBody()
            </div>
        </div>
    </div>
        <br />

        <footer class="div-footer">
            <div class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: antiquewhite;">
                <p>&copy; @DateTime.Now.Year - Thông tin liên hệ: 01654711707</p>
                @*<p>Địa chỉ: Trường Đại học Ngoại Ngữ Tin Học tp HCM</p>*@
                @*<p>Thông tin liên hệ: 01654711707 </p>*@
                @*<p>Địa chỉ email: Huflit.edu.vn</p>*@
            </div>
            @*class="navbar navbar-inverse navbar-fixed-bottom"*@
        </footer>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
@*<li><a href="/LoginUser/RegisterUser"><span class="glyphicon glyphicon-user"></span>Đăng ký</a></li>
    <li><a href="/LoginUser/Index"><span class="glyphicon glyphicon-log-in"></span>Đăng nhập</a></li>
    <li><a href="@Url.Action("LogOutUser", "LoginUser")"><span class="glyphicon glyphicon-log-out"></span>Đăng xuất</a></li>
    <li class="format-hello">
        @if (Session["NameUser"] == null)
        {
            <span>Xin chào quý khách !</span>
        }
        else
        {
            <span><text>Xin chào</text> @Session["NameUser"]</span>
        }
    </li>*@