@model Web_Ban_Hang.Models.AdminUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Create.cshtml";
}

<style>
    span.field-validation-errror {
        color: red;
    }

    th, td {
        padding: 5px;
    }

    h2 {
        padding-top: 10px;
        /*margin-left: 46%;*/
        text-align: center;
    }
</style>
<h2>Đăng Nhập</h2>
<div style="margin-left:35%">

    @using (Html.BeginForm("LoginAcount", "AdminUser"))
    {
        @Html.AntiForgeryToken()
        <div style=" border: 1px solid black; margin: 10px; padding: 10px; border-radius: 10px; background-color: white; padding-bottom: 10px;width:fit-content">
            <table style="border-spacing:10px">
                <tr>
                    <td>Tài Khoản</td>
                    <td>@Html.TextBoxFor(model => model.NameUser, new { style = "field-validation-error" })</td>
                    <td>@Html.ValidationMessageFor(model => model.NameUser)</td>
                </tr>

                <tr>
                    <td>Mật Khẩu</td>
                    <td>@Html.EditorFor(model => model.PasswordUser)</td>
                    <td>@Html.ValidationMessageFor(model => model.PasswordUser)</td>
                    @if (ViewBag.ErrorInfo == null)
                    {
                        <p>@ViewBag.ErrorInfo</p>
                    }

                </tr>

                <tr>
                    <td></td>
                    <td> <input type="submit" value="Đăng nhập" /></td>

                </tr>
            </table>
        </div>
    }
</div>