@model Web_Ban_Hang.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Create.cshtml";
}

<h2>THÊM MỚI SẢN PHẨM</h2>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table-bordered">
        <tr>
            <td>
                @*@Html.LabelFor(model => model.NamePro)*@
                Tên sản phẩm
            </td>
            <td>@Html.EditorFor(model => model.NamePro)</td>
        </tr>
        <tr>
            <td>
                 @*@Html.LabelFor(model => model.Price)*@
                Đơn giá
            </td>
            <td>@Html.EditorFor(model => model.Price)</td>
        </tr>
        <tr>
            <td>
                @*@Html.LabelFor(model => model.Category)*@
                Tên loại
            </td>
            <td>
                @Html.DropDownListFor(model => model.Category, (SelectList)ViewBag.listCategory)

                @*{Html.RenderAction(“action_name”,”controller_name”); }*@


            </td>
        </tr>
        <tr>
            <td> 
                @*@Html.LabelFor(model => model.DecriptionPro)*@ 
                Chi tiết
            </td>
            <td>@Html.EditorFor(model => model.DecriptionPro)</td>
        </tr>
        <tr>
            <td>@*@Html.LabelFor(model => model.ImagePro)*@
                Hình ảnh
            </td>
            <td>
                <img src="@Url.Content(Model.ImagePro)" height="150" width="150" id="previewImg" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="file" name="UploadImage" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
                <input type="submit" value="Tạo mới" />
            </td>
        </tr>
    </table>
}
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Quay lại", "Index_Admin")
</p>