
@using Web_Ban_Hang.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #div-ds {
        text-align: center;
        background-color: lightcoral;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 50px;
       /* padding-top: 30px;*/
        /*border-radius: 20px 20px 0 0;*/
    }

    .MenuPage li {
        display: inline;
    }

    .btn-default {
        background-color: darksalmon;
    }

    .card-pro {
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        padding-bottom: 10px;
    }

    h2 {
        padding-top: 5px;
        color: white
    }

    .card-pro:hover {
        transform: scale(1.1);
    }

    span.field-validation-error {
        color: red;
    }
</style>


<br />

@using (Html.BeginForm("SearchOption", "Product"))
{
    <div style="border-radius:10px;border:1px solid black;background-color:lightcoral ">
        <div id="div-ds"><h2>Danh sách sản phẩm</h2></div>
        <div style="text-align: center; padding-top: 5px;padding-bottom:20px">
            <text>Từ</text>
            <input type="number" name="min" />
            <text>Đến</text>
            <input type="number" name="max" />
            <input type="submit" value="Search" />
        </div>
        <div class="container">
            <div class="row">
                @foreach (var pro in Model)
                {
                    <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card-pro">
                            <a href="/Product/DetailCus/@pro.ProductID"> <br /> <img src="@Url.Content(pro.ImagePro)" height="160" width="160" /></a>
                            <a href="/Product/DetailCus/@pro.ProductID"> <br />@Html.DisplayFor(model => pro.NamePro)</a>
                            <p>@Html.DisplayFor(model => pro.Price)</p>
                            <a href="/ShoppingCart/AddToCart/@pro.ProductID" class="btn btn-default">Mua hàng</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        Trang @(Model.PageNumber) / @Model.PageCount
        <div class="MenuPage">
            @Html.PagedListPager(Model, page => Url.Action("Home", new { page = page }))
        </div>
    </div>
}
