@model IEnumerable<Web_Ban_Hang.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Create.cshtml";
}

<h1>KHÁCH HÀNG</h1>
<p>
    @Html.ActionLink("Thêm khách hàng", "Create", "Customer")
</p>
@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <input type="text" name="_name" />
    <input type="submit" value="Search" />
}
<br />
<table class="table table-bordered" style="border-width:thick">
    <tr>
        <th> Mã khách hàng </th>
        <th> Tên khách hàng </th>
        <th> Số điện thoại </th>
        <th> Email </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.IDCus) </td>
            <td> @Html.DisplayFor(modelItem => item.NameCus) </td>
            <td> @Html.DisplayFor(modelItem => item.PhoneCus) </td>
            <td> @Html.DisplayFor(modelItem => item.EmailCus) </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { name = item.NameCus }) |
                @Html.ActionLink("Chi tiết", "Details", new { name = item.NameCus }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IDCus})
            </td>
        </tr>
    }
</table>
</table>
@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
